<main>

    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/paris.jpg" class="d-block w-100" alt="paris">
        </div>
        <div class="carousel-item">
          <img src="images/londres.jpg" class="d-block w-100" alt="londres">
        </div>
        <div class="carousel-item">
          <img src="images/alemania.jpg" class="d-block w-100" alt="alemania">
        </div>
        <div class="carousel-item">
          <img src="images/portugal.jpg" class="d-block w-100" alt="portugal">
        </div>
      </div>
    </div>

    <div class="holder">
      <div class="aprender">
        <h3>¿Por qué aprender con nosotros?</h3>
        <p>Si estás buscando una manera divertida y efectiva de aprender nuevos idiomas, ¡has llegado al lugar correcto!
          En nuestro centro de enseñanza, nos apasiona el aprendizaje y estamos comprometidos en brindarte la mejor
          experiencia educativa posible. Aquí te contaremos por qué aprender con nosotros es la elección perfecta.
          <br>
          El aprendizaje de idiomas es una habilidad invaluable que te abrirá innumerables puertas en el mundo actual.
          Ya sea que estés interesado en viajar, estudiar o simplemente ampliar tus horizontes, dominar un nuevo idioma
          te proporcionará una ventaja significativa.Y qué mejor manera de hacerlo que con nuestra metodología
          innovadora y divertida.
          <br>
          En nuestro centro, entendemos que cada persona aprende de manera diferente. Es por eso que hemos desarrollado
          un enfoque personalizado que se adapta a tus necesidades y estilo de aprendizaje. Nuestros profesores
          altamente calificados están capacitados para enseñar de manera dinámica y creativa, utilizando una variedad de
          recursos y técnicas pedagógicas. Ya sea que prefieras aprender a través de juegos interactivos, conversaciones
          prácticas o actividades grupales, ¡nosotros tenemos todo cubierto!
          <br>
          Además, ofrecemos una amplia gama de idiomas para que elijas. En la sección <b>Cursos</b> se encuentra toda
          nuestra oferta.
        </p>
      </div>

      <div class="columnas">
        <div class="bienvenidos">
          <h3>Bienvenidos</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda pariatur mollitia sed quo ipsa vel
            dignissimos similique rem corrupti sint porro distinctio omnis error, perferendis veniam quas quos corporis
            delectus.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum asperiores ducimus molestiae ratione eaque at
            aliquam eveniet dolores cupiditate, hic error et repellat esse temporibus ullam ipsa repellendus inventore
            placeat.</p>
        </div>
        <div class="testimonios">
          <h3>Testimonios</h3>
          <span class="cita">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quisquam sint, blanditiis,
            error, aliquid qui quo accusamus cupiditate iste voluptatem placeat dolorem. Tempora, totam. Esse accusamus
            iure delectus labore beatae.</span>
          <span class="autor"><b>Lionel Messi</b></span>
        </div>
      </div>



  </main>

