<main>
        
        <div class="informacion">
            <div id="preguntas">
                <h2>
                    Preguntas Frecuentes
                </h2>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                ¿Cómo compro un curso?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Suscipit optio aperiam ullam, asperiores iure consequuntur nam eius ab tempore, ipsa
                                odit provident iusto repudiandae culpa nemo sunt accusantium at fugiat? </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                ¿Cuánto duran los cursos?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                ¿Qué modalidad de cursada tienen?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div id="enlaces">
                <h2>Enlaces de interés</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias iusto quo quisquam sint cum!
                    Necessitatibus eveniet deleniti corrupti pariatur vel, alias inventore veniam soluta perspiciatis
                    debitis nulla quasi? Mollitia, recusandae!
                    Nostrum debitis velit nihil qui quam recusandae officia consequuntur, labore voluptatem aspernatur
                    quae, ratione iste eligendi. Commodi, esse ipsa! Magnam accusantium eaque, saepe animi ducimus
                    assumenda iste aliquid recusandae maxime.
                    Consequuntur eligendi voluptate eveniet quibusdam? Excepturi necessitatibus aspernatur officiis
                    maxime maiores repellat! Enim consequuntur sapiente sequi blanditiis, qui laudantium commodi iusto
                    molestiae ipsa perferendis, deleniti error. Quisquam hic recusandae deleniti!
                    Quas delectus eos inventore error sequi ea. Quos sapiente quibusdam earum nostrum id nemo ducimus
                    nulla provident temporibus ad quam iusto non culpa consectetur beatae minima, reiciendis facere
                    dicta voluptatem!</p>
            </div>
            <hr>
            


    </main>
