<main class="holder">

    <div class="sobrenosotros">
        <h2>Sobre nosotros</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque ad cupiditate at fugiat deserunt, magni
            quas vel ab voluptates alias ex explicabo, reiciendis dolores deleniti corporis, saepe expedita ea
            totam.
            Odio non quas asperiores sapiente quo consequuntur dolorum beatae repellendus ipsa, molestiae pariatur.
            Rerum officiis labore, earum nisi alias dolorem nulla. Voluptas culpa necessitatibus aliquam
            consequuntur unde temporibus optio suscipit?
            Beatae nulla, nihil sint rem recusandae repudiandae et itaque accusantium harum odit quis, tempore
            sapiente praesentium. Cum iste possimus qui, veritatis voluptatum placeat adipisci aperiam ipsam
            deserunt architecto, ab omnis?
            Harum consectetur animi obcaecati minus natus blanditiis amet aut. Tempore dolorum ducimus rem? Dolore
            iste explicabo optio veritatis consectetur eos, molestias sunt et temporibus aspernatur minus, placeat
            amet, earum soluta.
            Consequuntur magni natus voluptatibus fugit temporibus iste cupiditate consectetur unde ad, maiores
            voluptatum deserunt cumque quis optio dignissimos? Velit labore culpa accusamus placeat repellendus ex
            vitae illum nisi quam voluptate.</p>
    </div>
    <hr>
    <div>
        <h2 class="equipotitulo">Nuestro equipo</h2>
        <div class="equipo">
            <div class="persona1 caja">
                <img src="/images/persona1.jpg" alt="">
                <h6>Cargo</h6>
                <h5>Nombre Apellido</h5>
                <p>Descripción...</p>
            </div>

            <div class="persona2 caja">
                <img src="/images/persona2.jpg" alt="">
                <h6>Cargo</h6>
                <h5>Nombre Apellido</h5>
                <p>Descripción...</p>
            </div>
            <div class="persona3 caja">
                <img src="/images/persona3.jpg" alt="">
                <h6>Cargo</h6>
                <h5>Nombre Apellido</h5>
                <p>Descripción...</p>

            </div>

            <div class="persona4 caja">
                <img src="/images/persona4.jpg" alt="">
                <h6>Cargo</h6>
                <h5>Nombre Apellido</h5>
                <p>Descripción...</p>

            </div>
            <div class="persona5 caja">
                <img src="/images/persona5.jpg" alt="">
                <h6>Cargo</h6>
                <h5>Nombre Apellido</h5>
                <p>Descripció<n class=""></n>
                </p>

            </div>

        </div>
        <hr>
        <h2>Contactanos</h2>
        <form action="/nosotros" method="post" class="formulario">
            <div class="formulariocontacto">
                <input type="name" class="nombre" placeholder="Nombre" name="nombre">
                <input type="name" class="apellido" placeholder="Apellido" name="apellido">
                <input type="email" class="email" placeholder="Email" name="email">
                <input type="tel" class="telefono" placeholder="Teléfono de contacto" name="tel">
                <button>Enviar</button>
            </div>
            <div class="mensaje">
                <textarea name="mensaje" id="textarea" cols="30" rows="10"></textarea>
            </div>
        </form>
        <p>{{message}}</p>


    </div>
    



</main>