
* {
    background-color: beige;
    font-family: 'League Spartan', sans-serif;}

h1 {
    color: rgb(80, 23, 23);
    background-color: gold;
    text-align: center;
    font-size: 50px;

}

h2{
    color: rgb(80, 23, 23);
}
.familia{
    color: gold;
    font-size: 35px;
    text-align: center;
    font-style: bold;
    background-color:  rgb(80, 23, 23);
}
.hobbies{
    color: coral;
    font-size: 35px;
    text-align: center;
    font-style: bold;
    background-color:  rgb(80, 23, 23);
}

ul {
    
    width: auto;
    height: 150px;
    
    font-size: 25px;
}

ul:hover {
    border: 3px solid rgb(80, 23, 23);
    background-color: gold;
    height: auto;
    color:rgb(80, 23, 23) ;
}
ol{
    width: auto;
    height: 125px;
    font-size: 25px;
}
ol:hover{
    color: rgb(80, 23, 23);
    border: 3px solid ;
    background-color: coral;
    height: auto;
    
}

a:hover {
    color: goldenrod;
}

img{
    box-shadow: -2px 0px 11px 4px rgba(0,0,0,0.3);
    
}

div {
    column-gap: 50px;
    column-count: 2;
    font-size: 25px;
    background-color: gold;
    border: 8px outset rgb(80, 23, 23);
    color: rgb(80, 23, 23);
}
.massobrelisa{
    color: rgb(80, 23, 23);
    font-size: 35px;
    text-align: center;
    font-style: bold;
    
   
}