<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li>Home</li>
        <li>Cursos</li>
        <li>Nosotros</li>
        <li>Iniciar sesion</li>
      </ul>
    </nav>
    {{{body}}}
  </body>

</html>
