<div>
    <h2>Agregar nueva tarea</h2>
    <form action="/admin/cursos/agregar" method="post">
    
    <div class="modificar-curso">
    <textarea class="form-control" type="text" placeholder="Curso" name="curso"></textarea>

    </div>
    <div class="modificar-unidad">
<textarea class="form-control" type="text" placeholder="Unidad" name="unidad"></textarea>

    </div>
    <div class="modificar-tarea">
<textarea class="form-control" type="text" placeholder="Tarea" name="tarea"></textarea>

    </div>
    <div class="modificar-calificacion">
<textarea class="form-control" type="text" placeholder="Calificacion" name="calificacion"></textarea>

    </div>
    
    <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
    {{#if error}}
    <p>{{message}}</p>
    {{/if}}
</div>