.contenedor1{
    width: 400px;
    height:400px;
    flex-direction: column;
    color: white;
    align-items: flex-end;
    display: flex;
}

.rojo{
    background-color: red;
    width: 150px;
    height: 150px;
    text-align: center;

}

.azul{
    background-color: blue;
    width: 150px;
    height: 150px;
    text-align: center;
}

.verde{
    background-color: green;
    width: 150px;
    height: 150px;
    text-align: center;
}



.contenedor2{
    color: black;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    flex-direction: row-reverse;
    display: flex;
    text-align: center;
   
    

}
.amarillo{
    background-color: yellow;
    width: 150px;
    height: 150px;
    

}
.violeta{
    background-color: purple;
    width: 150px;
    height: 150px;
}
.rosa{
    background-color: pink;
    width: 150px;
    height: 150px;
}



.contenedor3{
    color: black;
    margin-top: -200px;
    width: 400px;
    height: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.marron{
    background-color: brown;
    width: 50px;
    height: 50px;
    
}
.gris{
    background-color: grey;
    width: 50px;
    height: 50px;
}
.naranja{
    background-color: orange;
    width: 50px;
    height: 50px;
}