<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/cursos">Cursos</a></li>
        <li><a href="">Nosotros</a></li>
        <li><a href="">Más info</a></li>
        <li><a href="">Iniciar sesión</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
